@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>403 Forbidden</title>
    <link rel="shortcut icon" href="/icon-modified.png" type="image/x-icon" />
    <style>
        @@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            width: 100vw;
            background: #eceff1;
            font-family: Montserrat, sans-serif;
        }

        .container {
            background: white;
            height: auto;
            width: 40vw;
            padding: 1.5rem;
            box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
            border-radius: 0.5rem;
            text-align: center;
        }

            .container h1 {
                font-size: 1.25rem;
                margin: 0;
                margin-top: 1rem;
                color: #263238;
                opacity: 0;
                transform: translateX(-0.1rem);
                -webkit-animation: fadeIn 1s forwards 1.5s;
                animation: fadeIn 1s forwards 1.5s;
            }

            .container p {
                margin: 0;
                margin-top: 0.5rem;
                color: #546e7a;
                opacity: 0;
                transform: translateX(-0.1rem);
                -webkit-animation: fadeIn 1s forwards 1.75s;
                animation: fadeIn 1s forwards 1.75s;
            }

        @@media screen and (max-width: 768px) {
            .container {
                width: 50vw;
            }
        }

        @@media screen and (max-width: 600px) {
            .container {
                width: 60vw;
            }
        }

        @@media screen and (max-width: 500px) {
            .container {
                width: 80vw;
            }
        }

        @@-webkit-keyframes fadeIn {
            from {
                transform: translateY(1rem);
                opacity: 0;
            }

            to {
                transform: translateY(0rem);
                opacity: 1;
            }
        }

        @@keyframes fadeIn {
            from {
                transform: translateY(1rem);
                opacity: 0;
            }

            to {
                transform: translateY(0rem);
                opacity: 1;
            }
        }

        .forbidden-sign {
            margin: auto;
            width: 4.6666666667rem;
            height: 4.6666666667rem;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #FF4742;
            -webkit-animation: grow 1s forwards;
            animation: grow 1s forwards;
        }

        @@-webkit-keyframes grow {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(1);
            }
        }

        @@keyframes grow {
            from {
                transform: scale(1);
            }

            to {
                transform: scale(1);
            }
        }

        .forbidden-sign::before {
            position: absolute;
            background-color: white;
            border-radius: 50%;
            content: "";
            width: 4rem;
            height: 4rem;
            transform: scale(0);
            -webkit-animation: grow2 0.5s forwards 0.5s;
            animation: grow2 0.5s forwards 0.5s;
        }

        @@-webkit-keyframes grow2 {
            from {
                transform: scale(0);
            }

            to {
                transform: scale(1);
            }
        }

        @@keyframes grow2 {
            from {
                transform: scale(0);
            }

            to {
                transform: scale(1);
            }
        }
        /* slash */
        .forbidden-sign::after {
            content: "";
            z-index: 2;
            position: absolute;
            width: 4rem;
            height: 0.3333333333rem;
            transform: scaley(0) rotateZ(0deg);
            background: #ef5350;
            -webkit-animation: grow3 0.5s forwards 1s;
            animation: grow3 0.5s forwards 1s;
        }

        @@-webkit-keyframes grow3 {
            from {
                transform: scaley(0) rotateZ(0deg);
            }

            to {
                transform: scaley(1) rotateZ(-45deg);
            }
        }

        @@keyframes grow3 {
            from {
                transform: scaley(0) rotateZ(0deg);
            }

            to {
                transform: scaley(1) rotateZ(-45deg);
            }
        }

        .gobackbtn {
            background: #FFF;
            border: 1px solid #FF323A;
            border-radius: 6px;
            box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
            box-sizing: border-box;
            color: #FF323A;
            cursor: pointer;
            display: inline-block;
            font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
            font-size: 16px;
            font-weight: 800;
            line-height: 16px;
            min-height: 40px;
            outline: 0;
            padding: 12px 14px;
            text-align: center;
            text-rendering: geometricprecision;
            text-transform: none;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            vertical-align: middle;
        }

            .gobackbtn:hover,
            .gobackbtn:active {
                background-color: initial;
                background-position: 0 0;
                color: #FFF;
                background: #FF4742;
            }

            .gobackbtn:active {
                opacity: .5;
            }
    </style>
</head>
<body>
    <div class="container">
        <div class="forbidden-sign"></div>
        <h1>Access to this page is restricted.</h1>
        <p style="padding-bottom:13px">Ensure you have sufficient permissions to access the same.</p>
        <a onclick=" history.back()" class="gobackbtn">Go back</a>
    </div>
</body>
</html>