html,
body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
    width:40%;
}
* {
    font-family: 'Poppins', sans-serif;
}
body {
    display: table-cell;
    vertical-align: middle;

}

.margin {
    margin: 0 !important;
}
.button-24 {
    background: #FF323A;
    border: 1px solid #FF323A;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

    .button-24:hover,
    .button-24:active {
        background-color: initial;
        background-position: 0 0;
        color: #FF4742;
    }

    .button-24:active {
        opacity: .5;
    }
    p a:hover{
      text-decoration:underline #ff323a;
    }