@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.navigation {
    height: 60px;
    background: #262626;
    /*display:flex;
    justify-content:space-between;*/
}

.brand {
    position: absolute;
    padding-left: 10px;
    float: left;
    line-height: 60px;
    font-size: 1.4em;
    left:104px;
}

    .brand a,
    .brand a:visited {
        color: #ffffff;
        text-decoration: none;
    }

.nav-container {
    max-width: 1000px;
    margin: 0 auto;
}

nav {
    float: right;
}

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        nav ul li {
            float: left;
            position: relative;
        }

            nav ul li a,
            nav ul li a:visited {
                display: block;
                padding: 0 20px;
                line-height: 60px;
                background: #262626;
                color: #ffffff;
                text-decoration: none;
            }

                nav ul li a:hover,
                nav ul li a:visited:hover {
                    background: #FF4742;
                    color: #ffffff;
                }

                nav ul li a:not(:only-child):after,
                nav ul li a:visited:not(:only-child):after {
                    padding-left: 4px;
                    content: " ▾";
                }

            nav ul li ul li {
                min-width: 190px;
            }

                nav ul li ul li a {
                    padding: 15px;
                    line-height: 20px;
                }

.nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}


/* Mobile navigation */
.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #262626;
    height: 60px;
    width: 60px;
}

@media only screen and (max-width: 798px) {
    .nav-mobile {
        display: block;
    }

    nav {
        overflow:hidden;
        width: 100%;
        padding: 70px 0 15px;
    }

        nav ul {
            display: none;
        }

            nav ul li {
                float: none;
            }

                nav ul li a {
                    padding: 15px;
                    line-height: 20px;
                }

                nav ul li ul li a {
                    padding-left: 30px;
                }

    .nav-dropdown {
        position: static;
    }
}

@media screen and (min-width: 799px) {
    .nav-list {
        display: block !important;
    }
}

#nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}

    #nav-toggle span,
    #nav-toggle span:before,
    #nav-toggle span:after {
        cursor: pointer;
        border-radius: 1px;
        height: 5px;
        width: 35px;
        background: #ffffff;
        position: absolute;
        display: block;
        content: "";
        transition: all 300ms ease-in-out;
    }

        #nav-toggle span:before {
            top: -10px;
        }

        #nav-toggle span:after {
            bottom: -10px;
        }

    #nav-toggle.active span {
        background-color: transparent;
    }

        #nav-toggle.active span:before, #nav-toggle.active span:after {
            top: 0;
        }

        #nav-toggle.active span:before {
            transform: rotate(45deg);
        }

        #nav-toggle.active span:after {
            transform: rotate(-45deg);
        }

article {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

.navigation > .nav-container > .brand > a:hover {
    color: #FF4742;
}