@{
    ViewBag.Title = "Change Password";
}
@model ChangePassword

@{
    if (TempData["Message"] != null)
    {
        <script>
            alert('@TempData["Message"]');
        </script>
    }
}
<!Doctype html>
<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/css/ChangePassword.css" rel="stylesheet" />
</head>
<body>
    <div id="box">
        <form id="myform-search"></form>
        <h1>Change Password @*<span>choose a good one!</span>*@</h1>
        <form method="post" asp-controller="Account" asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <p>
                <input asp-for="CurrentPassword" type="password" placeholder="Current Password" class="password">
                
                <button class="unmask" type="button"></button><span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </p>
            <p>
                <input asp-for="Password" type="password" placeholder="Enter New Password" id="p" class="password">
                
                <button class="unmask" type="button"></button><span asp-validation-for="Password" class="text-danger"></span>
            </p>
            <p>
                <input asp-for="ConfirmPassword" type="password" placeholder="Confirm Password" id="p-c" class="password">
                
                <button class="unmask" type="button"></button><span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                <div id="strong"><span></span></div>
                <div id="valid"></div>
                <small>Must be 6+ characters long and contain at least 1 upper case letter, 1 number, 1 special character</small>
            </p>

            <input type="submit" class="button-24" value="Change Password" />
        </form>
    </div>
</body>
</html>
<script>
    $('.unmask').on('click', function () {
        if ($(this).prev('input').attr('type') == 'password')
            $(this).prev('input').prop('type', 'text');
        else
            $(this).prev('input').prop('type', 'password');
        return false;
    });
    //Begin supreme heuristics
    $('.password').on('keyup', function () {
        var p_c = $('#p-c');
        var p = $('#p');
        console.log(p.val() + p_c.val());
        if (p.val().length > 0) {
            if (p.val() != p_c.val()) {
                $('#valid').html("Passwords Don't Match");
            } else {
                $('#valid').html('');
            }
            var s = 'weak'
            if (p.val().length > 5 && p.val().match(/\d+/g))
                s = 'medium';
            if (p.val().length > 6 && p.val().match(/[^\w\s]/gi))
                s = 'strong';
            $('#strong span').addClass(s).html(s);
        }
    });
    function IsFormValid() {
        var isTrue = true;
        //debugger;
        if (!$("#frmReg1").valid()) {
            isTrue = false;
        }
        return isTrue;
    }

</script>