@{
    Layout = null;
}
@{
    if (TempData["Message"] != null)
    {
        <script>
            alert('@TempData["Message"]');
        </script>
    }
}
@model ResetPassword
<!Doctype html>
<html>
<head>
    <link href="~/css/forgotpassword.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script*@
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="shortcut icon" href="../icon-modified.png" type="image/x-icon" />
    <title>Forgot Password - Cardinal Prophecy</title>
</head>
<body class="white">

    <div id="login-page" class="row">
        <div class="col s12 z-depth-6 card-panel">
            <form class="login-form" asp-controller="Account" asp-action="ConfirmResetPassword" method="post">
                <input asp-for="RID" id="RID" type="hidden" value="@ViewBag.RID">
                <div class="row">
                    <div class="input-field col s12 center">
                        <img src="../BGLogo.png" alt="" class="responsive-img valign profile-image-login">
                        <p class="center login-form-text">Cardinal Prophecy</p>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="mdi-social-person-outline prefix"></i>
                        <input asp-for="Password" id="password" type="password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                        @*<label asp-for="EmailID" class="center-align">Email</label>*@
                    </div>
                    <div class="input-field col s12">
                        <i class="mdi-social-person-outline prefix"></i>
                        <input asp-for="ConfirmPassword" id="confirmpassword" type="password">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div id="strong"><span></span></div>
                    <div id="valid"></div>
                    <small>Must be 6+ characters long and contain at least 1 upper case letter, 1 number, 1 special character</small>
                </div>
                <input type="submit" class="button-24 col s12" value="Submit" />

                <div class="row">
                    <div class="input-field col s6 m6 l6">
                        <p class="margin medium-smallead"><a asp-action="Login">Login</a></p>
                    </div>
                </div>

            </form>
        </div>
    </div>

</body>
</html>
<script>
    $('.password').on('keyup', function () {
        var p_c = $('#p-c');
        var p = $('#p');
        console.log(p.val() + p_c.val());
        if (p.val().length > 0) {
            if (p.val() != p_c.val()) {
                $('#valid').html("Passwords Don't Match");
            } else {
                $('#valid').html('');
            }
            var s = 'weak'
            if (p.val().length > 5 && p.val().match(/\d+/g))
                s = 'medium';
            if (p.val().length > 6 && p.val().match(/[^\w\s]/gi))
                s = 'strong';
            $('#strong span').addClass(s).html(s);
        }
    });
</script>