@{
Layout = null;
}
@{
    if (TempData["Message"] != null)
    {
        <script>
            alert('@TempData["Message"]');
        </script>
    }
}
@model UserProfile
<!Doctype html>
<html>
    <head>
        <link href="~/css/forgotpassword.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <link rel="shortcut icon" href="../icon-modified.png" type="image/x-icon" />
        <title>Forgot Password - Cardinal Prophecy</title>
    </head>
<body class="white">

    <div id="login-page" class="row">
        <div class="col s12 z-depth-6 card-panel">
            <form class="login-form" asp-controller="Account" asp-action="ResetPassword" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div> 
                <div class="row">
                    <div class="input-field col s12 center">
                        <img src="../BGLogo.png" alt="" class="responsive-img valign profile-image-login">
                        <p class="center login-form-text">Cardinal Prophecy</p>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <label asp-for="EmailID" class="center-align">Email ID</label>
                        <input asp-for="EmailID" class="validate" id="email" type="email">
                        <span asp-validation-for="EmailID" class="text-danger"></span>
                    </div>
                </div>
                <input type="submit" id="btnforgotpass" onclick="return IsFormValid()" class="button-24 col s12" value="Recover my password" />
                
                <div class="row">
                    <div class="input-field col s6 m6 l6">
                        <p class="margin medium-smallead"><a asp-action="Login">Login</a></p>
                    </div>
                </div>
                
            </form>
        </div>
    </div>

</body>
</html>
<script>
    function IsFormValid() {
        var isTrue = true;
        debugger;
        if (!$("#frmLogin").valid()) {
            isTrue = false;
        }
        return isTrue;
    }
</script>